body {
    max-width: 1280px;
    margin: 0 auto;
}

main {
    max-width: 1280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

main::after {
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: -1;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 30px;
    width: 100%;
    height: 100vh;
}

.conteudo .logo {
    margin-bottom: 25px;
    font-size: 40px;
    font-family: 'Rampart One', cursive;
    color: #FFFF00;
}

.conteudo .informacoes {
    width: 49%;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.295);
    color: #ffff;
}

.imagensFundo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.imagensFundo .imagem {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: none;
    animation: alterarImagem 0.7s;
}

.imagensFundo .imagem.imagemAtiva {
    display: block;
}

@keyframes alterarImagem {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 1;
    }
}

.campo_botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    position: fixed;
    bottom: 30px;
}

.campo_botoes .buttons {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
}

.campo_botoes .bttAtivo {
    transition: background-color 0.5s ease-in-out;
    background-color: #4B088A;
    border: 2px solid #fff;
}

.play-btn-pause {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.play-btn-pause .imgAudio{
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: transform 1s ease-in;
}

.play-btn-pause .imgAudio:hover {
    transform: scale(1.2);

}

.menu-lateral {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

